# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Environment variables
.env
.env.prod

# VS Code and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db